*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: wheat;
    font-family:Arial, Helvetica, sans-serif;
}

#container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-square{
    padding: 0;
    background-color: antiquewhite;
    border: solid 1px thistle;
    width: 80%;
    margin: 8px auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.square-border{
    box-sizing: border-box;
    border:solid 1px wheat;
    aspect-ratio: 1/1;
}

#set-grid{
    background-color: antiquewhite;
    border:solid 1px thistle;
    padding: 16px;
    width: 40%;
    font-size: 18px;
}

.popup-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

#popup-box{
    padding: 16px;
    border: solid 1px black;
    background-color: antiquewhite;
}

.active{
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s;
}

.idle{
    pointer-events: none;
}

#options{
    margin: 8px auto;
    width: 70%;
    display: flex;
}